body{
    text-align: center;
    background-color: black;
    color: white;
    font-family: monospace;
}
#login-form{
    margin-top: 20%;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.user-email{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 15px;
}
#env-toggle{
    position: sticky;
    top: 0;
    padding: 10px 0px 10px 0px;
    background-color: black;
} 
#env-btn{
    color: black;
}
#cmd-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    grid-row-gap: 50px;
    margin-top: 100px;
}
.cmd-card{
    padding: 10px;
    height: 300px;
    width: 350px;
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px white;
    border: 1px solid black;
    overflow: auto;
    transition: 100ms linear;
}
@keyframes fadeIn {
    from{
        transform: translateX(300px);
        opacity: 0%;
    }
    to{
        transform: translateX(0px);
        opacity: 100%;
    }
}
#clear-post-cache{
    grid-column: 1;
    grid-row: 1;
}
#clear-hp-cache{
    grid-column: 2;
    grid-row: 1;
}
#trigger-syndication{
    grid-column: 1;
    grid-row: 2;
}
#export-personal-data{
    grid-column: 2;
    grid-row: 2;
}
.cmd-title{
    display: block;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0px 5px 0px;
}
.cmd-input{
    width:200px;
}
.cmd-output{
    text-align: left;
    font-size: 11px;
    font-style: italic;
}
.error-output{
    font-size: 11px;
    color: red;
}
@media only screen and (min-width: 1200px){
    .cmd-card:hover{
        transform: scale(1.2);
    }
}
@media only screen 
    and (max-width: 1024px){
      #header{
          flex-direction: column;
      }
  }
@media only screen 
  and (max-width: 812px){
    #cmd-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}